TUNNEL_PROXY_SERVER=tun-sbftjg.qg.net:20328
TUNNEL_PROXY_USERNAME=8B37DB4B
TUNNEL_PROXY_PASSWORD=BD06CA34CF44

DB_MYSQL_TEST_11_HOST=172.22.121.11
DB_MYSQL_TEST_11_PORT=43200
DB_MYSQL_TEST_11_USER=ETL_test_user
DB_MYSQL_TEST_11_PASSWORD=0893ce91-cf0c-4e7b-b824-eea8939ae917
DB_MYSQL_TEST_11_DATABASE=personnel-matching-ETL-test

GGFW_ACCESS_TOKEN=
GGFW_COOKIE=
